// VARIABLES

$black: #000000;
$teal: #005A80;
$blue1: #00B4FF;
$blue2: #5FD1F9;
$blue3: #95E0FB;
$paleBlue: #F4FCFF;
$white: #FFFFFF;
$tomato: #fa612c;
$turmeric: #fbc112;
$turquoise: #7fccd4;
$papaya: #ff8d1d;



// h1, h1 a
// {
// 	color: rgb(247, 92, 28);
// }
body 
{
	color: rgba(0, 0, 0, 0.85);
}
a
{
	color: $black;
	text-decoration: underline;
	&:hover, &:active
	{
	  color:  rgb(251, 205, 23);
	}

	transition: color 0.4s ease;
}

.nav-bar
{
	// background-color: rgba($white, 0.8);
	background-color: rgba($white, 0);
	transition: background-color 0.5s;

	a,
	.hamburger
	{
		color: $black;

		&:hover, &:active
		{
		  // color: $blue1;
		}
	}
}

ul.gallery
{
	a
	{
		background-color: rgba($blue1, .7);
		color: white;
	}
}

.fieldnotes ul li a
{
	color: inherit;

	&:hover, &:active
  {
    color: $blue1;

    &:hover, &:active
    {
      color: $blue2;
    }
  }
}

.blog
{
	// background: $paleBlue;
}

.multiple-slider
{
    .column
    {
    	background: transparent;
    	&:hover
	    {
	        background: $blue3;
	    }
	    &:focus
	    {
	    	outline: none;
	    }
	}
}

#me
{

	a,
	.footerEmail
	{
		color: $blue1;
		text-decoration: none;

		&:hover, &:active
	    {
	      color: $blue2;
	    }
	}

	a span.wantMore
	{
		color: $black;
	}

}

#footer-bar
{
	background-color: $blue1;
}

.slider
{
	h1
	{
		color: $white;
	}

	.slick-slide:focus
	{
		outline: none;
	}

	.slick-dots
	{
	    li
	    {
	        button
	        {
	            &:hover, &:focus
	            {
	                &:before
	                {
	                    opacity: 1;
	                }
	            }
	            &:before
	            {
	                color: $white;
	                opacity: 1;
	                -webkit-font-smoothing: antialiased;
	                -moz-osx-font-smoothing: grayscale;
	            }
	        }
	        &.slick-active button:before {
	            color: $blue1;
	            opacity: 1;
	        }
	    }
	}
}

h3.comment-call-to-action
{
	color: $tomato;
}

input[type="submit"]
{
	background-color: $tomato;
}
