// VARIABLES

$black: #000000;
$white: #FFFFFF;
$tomato: #fa612c;
$turmeric: #fbc112;
$turquoise: #7fccd4;
$papaya: #ff8d1d;
$beetroot: #d8007e;
$fuschia: #fd129b;
$deepblue: #160065;
$charcoal: #3e3e3e;
$bubblegum: #ff71cb;



// h1, h1 a
// {
// 	color: rgb(247, 92, 28);
// }
body 
{
	// color: rgba(0, 0, 0, 0.85);
	color: $charcoal;
}

a
{
	color: $beetroot;
	text-decoration: underline;
	&:hover, &:active
	{
	  color:  $bubblegum;
	}

	transition: color 0.4s ease;
}

h1,
h1 a
{
	color: $beetroot;
}

.nav-bar
{
	// background-color: rgba($white, 0.8);
	background-color: rgba($white, 0);
	transition: background-color 0.5s;
	
	nav ul li
	{
		color: $deepblue;
	}

	a,
	.hamburger
	{
		color: $deepblue;

		&:hover, &:active
		{
		  // color: $blue1;
		}
	}
}






h3.comment-call-to-action
{
	color: $tomato;
}

input[type="submit"]
{
	background-color: $fuschia;
}


