body 
{
	background-image: url(../images/AimeeToday_Header_3.5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 31vw;
}


.mainBlogFeed  
{
	article
	{
		img.profile-image
		{
			max-width: 75%;
		}
		.featuredImage img,
		img.u-max-full-width,
		img.profile-image
		{
			margin: 0 auto 4rem;
    		display: block;
    		max-width: 80%;
		}
	}	
}

.entry img 
{
	max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

/* #headerImage img
{
	margin-top: 3rem;
    margin: -5rem -2rem;
    width: calc(100% + 4rem);
    max-width: inherit;
} */