@media (max-width: 1200px)
{
	.container
	{
		width: 100%;
	}

	.nav-bar
	{
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.slick-slide img
	{
		width: 100%;
	}

	.text-content img
	{
		// preventing WP from resizing images arbitrarily
		max-width: 100% !important;
		width: auto !important;
		height: auto !important;
	}
}

// @media (max-width: 860px)
@media (max-width: 800px)
{
	#welcomeSection	#welcomeImage
	{
		p
		{
			// position: static;
		 //    text-align: left;

			span
		    {
		    	display: inline;
		    }
		}

		img
		{
			margin-top: -10rem;
			margin-left: -3rem;
			margin-right: -3rem;
			max-width: calc(100% + 6rem);
		}
	}

	h1
	{
		padding: 0 5rem;
	}

	h1
	{
		font-size: 4rem;
	}

	h2
	{
		font-size: 3.5rem;
	}

	h3
	{
		font-size: 3rem;
	}

	.entry
	{
	  	padding: 6rem 10rem;
	}

	.nav-bar
	{
		nav ul
		{
			display: none;
			float: none;
			margin-top: 3.5rem;
			line-height: inherit;

			li
			{
				display: block;
				line-height: inherit;

				a
				{
					display: block;
					text-align: right;
					padding-left: 0;
				}
			}
		}

		.hamburger
		{
			display: block;
		}
	}

	.text-content
	{
		// margin-left: 15%;
		// margin-right: 15%;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.nav-bar .container .row
	{
		margin-right: 0;
		margin-left: 0;
	}

	.marginBtmLarge
	{
	  margin-bottom: 3rem;
	}

}

// @media (max-width: 549px)
@media (max-width: 600px)
{
	.main-heading
	{
		padding: 9rem 0 2rem;
	}

	h1, h2
	{
		padding: 0;
	}
	
	.entry
	{
	  // padding: 6rem 10rem;
	  padding: 4rem 0rem;
	}

	.hide-for-mobile
	{
		display: none;
	}

	ul.gallery li
	{
		width: 100%;
		padding-bottom: 66.66%;
	}

	#welcomeSection	#welcomeImage
	{
		p 
		{
			font-size: 3vw;
		}

		img
		{
			// margin-top: -6rem;
		}
	}


	.entry ol li:before 
	{
		font-size: 800%;
    	opacity: 0.2;
	    /* right: 0; */
	    line-height: 1;
    	position: static;
	}

	#mainBlogFeed  
	{
		article
		{
			img.profile-image
			{
				max-width: 100%;
			}

		}
		
	}



}
